.account-navigation {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 5px;
  width: 100%;
  justify-content: center;
  background-color: gray;
  a {
    width: 10%;
    background-color: rgb(175, 93, 93);
    color: white;
    padding: 8px 12px;
    margin-top: 15px;
    border-radius: 4px;
    font-size: large;
    border: none;
  }
}
