.order-detail-container {
  position: absolute;
  height: 85%;
  width: 46%;
  background-color: white;

  margin: 0 !important;
  overflow: scroll;
  .order-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
      cursor: pointer;
    }
  }
}
