.product-card-container {
  border-radius: 6px;
  width: 22%;
  background-color: white;
  div {
    display: flex;
  }

  img {
    height: 120px;
    max-width: 120px;
  }
  span {
    font-size: 20px;
  }
}
