.products-list-container {
  background-color: rgba(128, 128, 128, 0.082);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    width: 70%;
    padding-top: 30px;
    text-align: left;
    color: black;
  }
  .products-list {
    width: 70%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}
