.product-card-container {
  border-radius: 6px;
  width: 22%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .product-info {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 80px;
    margin: 15px 0;
  }
  span {
    font-size: 15px;
  }
}
