@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap");
:export {
  color1: #c5a2a2;
  blue12: #03496f;
  green1: rgb(2, 172, 81);
  text1: #e0d1ad;
  red2: rgb(251, 69, 63);
  black1: rgb(31, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Saira Condensed", sans-serif;
  color: rgb(219, 217, 217);
}

li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.no-scroll {
  overflow: hidden;
}

.btn-1 {
  border: none;
  color: white;
  background-color: #c5a2a2;
  padding: 8px;
  border-radius: 6px;
}

.btn-2 {
  background-color: black;
  color: white;
  margin-top: 15px;
  border-radius: 4px;
  font-size: large;
  padding: 8px 60px !important;
}

.cart-container {
  background-color: rgba(128, 128, 128, 0.192);
  color: black;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  padding: 40px 0;
}

.login-form {
  background-color: rgba(128, 128, 128, 0.116);
  width: 50%;
  border-radius: 8px;
}
.login-form h3 {
  width: 50%;
  margin: auto;
  padding-left: 10px;
  text-align: center;
}
.login-form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login-form form input {
  width: 50%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.164);
}
.login-form form button {
  width: 40%;
  background-color: black;
  color: white;
  padding: 8px 30px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: large;
}

.login-register-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  margin: auto;
  margin-top: 2rem;
}

.account-page-container {
  min-height: 100%;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.116);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
  color: black;
}
.account-page-container div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
  width: 70%;
}
.account-page-container div h3 {
  text-align: center;
}
.account-page-container div div h3 {
  text-align: center;
}
.account-page-container div div form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.account-page-container div div form label {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 0.8rem;
}
.account-page-container div div form label input {
  background-color: rgba(128, 128, 128, 0);
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.548);
  width: 50%;
}
.account-page-container div div form button {
  width: 40%;
  background-color: black;
  color: white;
  padding: 8px 30px;
  margin-top: 15px;
  border-radius: 4px;
  margin-left: 12.5%;
  font-size: large;
}
.account-page-container span {
  background-color: #fff;
  padding: 5px;
  border-radius: 6px;
}

.all-categories-container {
  background-color: #f4f4f4;
}

.categories-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  padding: 20px;
}

.categories-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.category-item {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.category-item:hover {
  background-color: #0056b3;
}

.admin-container {
  display: flex;
  min-height: 100%;
}
.admin-container .dashboard {
  min-height: 100%;
  color: black;
  padding: 10px;
  width: 65%;
}

.products-table {
  width: 100%;
  border-spacing: 0;
}
.products-table td {
  height: 35px;
  border: 1px solid rgba(250, 128, 114, 0.171);
}
.products-table .td-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.products-table .td-link a,
.products-table .td-link button {
  border: none;
  color: white;
  background-color: salmon;
  padding: 2px 7px;
  font-size: small;
  border-radius: 6px;
  display: inline-flex;
  gap: 6px;
}
.products-table .td-link a svg,
.products-table .td-link button svg {
  height: 18px;
}
.products-table thead {
  background-color: rgba(250, 128, 114, 0.404);
}

.admin-container form {
  color: gray;
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 8px;
}
.admin-container form input,
.admin-container form textarea {
  max-width: 90%;
  height: 30px;
  padding: 4px;
  border: 2px solid rgba(128, 128, 128, 0.479);
}
.admin-container form textarea {
  height: 100px;
}
.admin-container form label {
  margin-top: 10px;
}
.admin-container form input[type=file] {
  display: none;
}
.admin-container form .label-file {
  margin-top: 10px;
  text-align: center;
  width: 80px;
  align-self: center;
  font-size: small;
  display: flex;
  flex-direction: column;
}
.admin-container form .label-file svg {
  height: 30px;
}
.admin-container form button {
  align-self: center;
  margin-top: 10px;
  width: 50%;
}

.navigation-container {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-container .navigation {
  width: 70%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-container .navigation ul {
  font-size: 1.2rem;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-container .navigation ul a {
  color: #aaa;
}

.featured-container {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-container .featured {
  width: 70%;
  color: white;
  font-size: 1.3rem;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.featured-container .featured h2 {
  font-size: 3.5rem;
  margin-top: 0;
  font-weight: normal;
}
.featured-container .featured p {
  color: #aaa;
  font-size: 1.2rem;
}
.featured-container .featured img {
  height: 70%;
  max-width: 100%;
}
.featured-container .featured .img-featured {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-container .featured .text-div {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  justify-content: center;
}
.featured-container .featured .btn-1 {
  background-color: rgba(84, 66, 246, 0);
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}
.featured-container .featured .btn-2 {
  background-color: #5542f6;
  border: 1px solid #5542f6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  display: inline-flex;
  gap: 5px;
}
.featured-container .featured .btn-2 svg {
  height: 20px;
  color: white;
}
.featured-container .featured .btn-div {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-top: 25px;
}

.admin-navigation {
  background-color: #c5a2a2;
  width: 35%;
  min-height: 100vh;
  padding-top: 10px;
  padding-left: 10px;
}
.admin-navigation a {
  color: rgb(255, 255, 255);
}
.admin-navigation .active {
  color: #c5a2a2;
  background-color: white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.admin-navigation .link-admin {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 6px;
  gap: 10px;
  margin-top: 6px;
}
.admin-navigation .link-admin svg {
  height: 20px;
}

.product-card-container {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.product-card-container .product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}
.product-card-container .product-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card-container .product-info div button {
  height: 30px;
  background-color: rgba(84, 66, 246, 0);
  border: 1px solid rgb(13, 114, 145);
  color: rgb(13, 114, 145);
  padding: 0px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 550;
  cursor: pointer;
}
.product-card-container .product-info h3 {
  font-size: large;
  font-weight: normal;
}
.product-card-container .img-container {
  background-color: white;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.product-card-container .img-container img {
  max-height: 150px;
  max-width: 100%;
}
.product-card-container span {
  font-size: 25px;
  font-weight: bold;
}

.products-list-container {
  background-color: rgba(128, 128, 128, 0.082);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-list-container h2 {
  width: 70%;
  padding-top: 30px;
  text-align: left;
  color: black;
}
.products-list-container .category-filter {
  width: 70%;
}
.products-list-container .category-filter select {
  border-radius: 8px;
  border-color: rgba(128, 128, 128, 0.452);
  padding: 3px;
}
.products-list-container .products-list {
  width: 70%;
  margin: 2rem;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.cart-product-container {
  padding: 40px;
  background-color: white;
  width: 90%;
  border-radius: 8px;
  margin: auto;
}
.cart-product-container h3 {
  font-size: 2.3rem;
  padding: 5px;
}
.cart-product-container .cart-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}
.cart-product-container .cart-table .product-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}
.cart-product-container .cart-table .product-container .img-container {
  background-color: white;
  min-height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.123);
}
.cart-product-container .cart-table .product-container .img-container img {
  max-height: 150px;
  max-width: 100%;
}
.cart-product-container .cart-table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.cart-product-container .cart-table td {
  border-top: 1px solid rgba(0, 0, 0, 0.116);
}
.cart-product-container .cart-table tr {
  width: 100%;
}
.cart-product-container button {
  font-weight: bold;
  text-align: center;
  padding: 2px 6px;
  margin: 5px;
}

.order-info-container {
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  position: fixed;
  right: 40px;
}
.order-info-container h3 {
  font-size: 2.3rem;
}
.order-info-container form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.order-info-container form input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.164);
}

.order-list-container {
  width: 90%;
}
.order-list-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}
.order-list-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.order-list-container table thead {
  background-color: #a5b1be;
  color: #fff;
}
.order-list-container table thead th {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
}
.order-list-container table tbody tr {
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.order-list-container table tbody tr td {
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0;
}
.order-list-container table tbody tr td:first-child {
  font-weight: bold;
}
.order-list-container table tbody tr button {
  background-color: #6f757c;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.order-list-container table tbody tr button:hover {
  background-color: #575c61;
}

.user-order-container {
  min-height: 100%;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.116);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
  color: black;
}

.account-navigation {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 5px;
  width: 100%;
  justify-content: center;
  background-color: gray;
}
.account-navigation a {
  width: 10%;
  background-color: rgb(175, 93, 93);
  color: white;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: large;
  border: none;
}

.order-detail-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.order-detail-container .order-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.order-detail-container .order-detail-header h2 {
  font-size: 24px;
  color: #333;
}
.order-detail-container .order-detail-header span {
  font-size: 20px;
  cursor: pointer;
  color: #ff5c5c;
  transition: color 0.3s ease;
}
.order-detail-container .order-detail-header span:hover {
  color: #ff2929;
}
.order-detail-container .order-info,
.order-detail-container .user-info,
.order-detail-container .products-info {
  margin-bottom: 20px;
}
.order-detail-container .order-info p,
.order-detail-container .user-info p,
.order-detail-container .products-info p {
  margin: 5px 0;
  color: #333;
}
.order-detail-container .order-info p strong,
.order-detail-container .user-info p strong,
.order-detail-container .products-info p strong {
  font-weight: bold;
}
.order-detail-container .order-info h3,
.order-detail-container .user-info h3,
.order-detail-container .products-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}
.order-detail-container .products-info .product-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}
.order-detail-container .products-info .product-card .product-details p {
  margin: 5px 0;
}
.order-detail-container .order-total {
  text-align: right;
}
.order-detail-container .order-total h3 {
  font-size: 22px;
  font-weight: bold;
  color: #007bff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}/*# sourceMappingURL=index.css.map */